

.container_1 {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: relative;
}

.profile {
  position: relative;
  top: 10px;
  left: 100px;
  

  width: 950px;
  height: 400px;
  flex-shrink: 0;
  border-radius: 33.428px;
  background: #5746ea;
  display: flex;
}
.list {
  list-style: none;
  background-color: #5746ea;
}

.profile img {
  position: absolute;
  top: 20px;
  left: 60px;
  width: 180.365px;
  height:350px;

  flex-shrink: 0;
  border-radius: 329.002px;
  border: 5.278px solid #fff;

  box-shadow: 0px 8.796843528747559px 7.037475109100342px 0px
    rgba(0, 0, 0, 0.31);
}
.user-details-1 {
  position: absolute;
  top: 60px;
  left: 300px;

  width: 154.824px;
  height: 31.669px;
  flex-shrink: 0;
  color: #fff;
  font-family: Roboto;
  font-size: 36.947px;
  font-style: normal;
  font-weight: 400;
  line-height: 103.188%; /* 38.124px */
  letter-spacing: 0.739px;
}

.user-details-2 {
  position: absolute;
  top: 150px;
  left: 300px;

  width: 307.89px;
  height: 49.262px;
  flex-shrink: 0;
  color: #fff;
  font-family: Roboto;
  font-size: 72.134px;
  font-style: normal;
  font-weight: 500;
  line-height: 66.188%; /* 47.744px */
  letter-spacing: 1.443px;
}
.user-details-3 {
  position: absolute;
  top: 100px;
  left: 300px;

  width: 372.986px;
  height: 31.669px;
  flex-shrink: 0;
  color: #fff;
  font-family: Roboto;
  font-size: 36.947px;
  font-style: normal;
  font-weight: 400;
  line-height: 103.688%; /* 38.309px */
  letter-spacing: 0.739px;
}
.user-details-4 {
  visibility: hidden;
}
.category-details-1 {
  position: absolute;
  top: 200px;
  left: 300px;
  color: #fff;

  width: 237.515px;
  height: 61.578px;
  flex-shrink: 0;
  border-radius: 36.947px;
  background: #9f94ff;
  font-size: 35px;
  margin: 30px;
  padding-left: 40px;

  /* Add other desired styles */
}

.category-details-2 {
  position: absolute;
  top: 200px;
  left: 600px;
  color: #fff;

  width: 237.515px;
  height: 61.578px;
  flex-shrink: 0;
  border-radius: 36.947px;
  background: #9f94ff;
  font-size: 35px;
  margin: 30px;
  padding-left: 40px;

  /* Add other desired styles */
}

.category-details-3 {
  position: absolute;
  top: 280px;
  left: 300px;
  color: #fff;

  width: 237.515px;
  height: 61.578px;
  flex-shrink: 0;
  border-radius: 36.947px;
  background: #9f94ff;
  font-size: 35px;
  margin: 30px;
  padding-left: 40px;

  /* Add other desired styles */
}
.category-details-4 {
  position: absolute;
  top: 340px;
  left: 600px;
  color: #fff;

  width: 237.515px;
  height: 61.578px;
  flex-shrink: 0;
  border-radius: 36.947px;
  background: #9f94ff;
  font-size: 35px;
  margin: 30px;
  padding-left: 40px;

  /* Add other desired styles */
}

.button2{
  width: 128px;
  height: 40px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 92.2%; /* 24.235px */
  letter-spacing: 0.526px;
  position: absolute;
  top: 670px;
  left: 1320px;
  background-color: #11b800;
  border-radius: 20px;
}
